#main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scratch {
    width: 100px;
    height: 100px;
    margin: 15px;
    margin-left: 10px;
    border-radius: 30%;
}

.icon {
    width: 28px;
    height: 28px;
    float: left;
    transform: translate(57%, 56%);
}

.rectangle {
    border-style: solid;
    border-color: #404040;
    text-align: left;
    width: 356px;
    height: 60px;
    margin: 8px;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    font-family: Roboto Slab, sans-serif;
    margin: 9px;
    margin-top: 12px;
}

h6 {
    margin: 8px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    transform: translate(10%, 0%);
}

p {
    margin: 0px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    color: #696969;
    transform: translate(17%, 0%);
}

a {
    text-decoration: None;
    color: #404040;
}

#revue-embed a {
    text-decoration: underline;
}

.revue-form-footer {
    display: inline-block;
    font-size: 10px;
    text-align: left;
    font-family: Roboto, sans-serif;
    max-width: 240px;
}

.revue-form-field {
    display: inline-block;
    width: 170px;
}